/*<------------------body------------->*/
body{
    display:grid;
    grid-template-rows: 0.5fr 0.5fr 400px 0.5fr;
    grid-template-columns: 200px 1fr;
    background-color: #F3E9DE;
   }

/* body{
    height: 100%;
    background-color: #F3E9DE;
} */


/*<------------------nav------------->*/

nav{
    text-align: end;
    background-color: #F3E9DE;
    margin: 0%;
    grid-row: 2;
    grid-column: 2/3;
}

nav h2{
    color: #256993;
    display: inline-block;
    margin: 10px;
    font-size: medium;
}



/*<------------------header------------->*/
header{
    background-color: #F3E9DE;
    text-align: center;
    grid-row: 1;
    grid-column: 2/3;
    margin: 0%;
    height: 75px;
}

header h1{
    color: #256993;
}


/*<------------------aside------------->*/

/* .aside_main_container{
    display: flex;
} */



aside{
    grid-column: 1;
    grid-row: 1/5;
    background-color: #FAF4EC;
}

aside h2{
    color: #256993;
}

aside li{
    color: #256993;
}




/*<------------------main------------->*/

main{
    grid-column: 2;
    grid-row: 3;
    background-color: #F3E9DE;
}

.main_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
}

/*<------------------textarea------------->*/

textarea{
    grid-column: 1/4;
    grid-row: 2/3;
}


/*<------------------footer------------->*/

footer{
    text-align: center;
    background-color: #F3E9DE;
    grid-column: 2;
    grid-row: 4;
}

footer h2{
    color: #256993;
}


/*<------------------buttons------------->*/

.new_note{
    border-radius: 12px;
    background-color: #256993;
    color: white;
    width: 20%;
    height: 40%;
    position: relative;
}

.dark_theme{
    border-radius: 12px;
    background-color: #56536A;
    color: white;
    width: 20%;
    height: 40%;
    grid-column: 3/4;
    grid-row: 1;
}

.save{
    border-radius: 12px;
    background-color: #256993;
    color: white;
    width: 16%;
    height: 20%;
    grid-column: 3/4;
    grid-row: 3;
}

.cancel{
    border-radius: 12px;
    background-color: #9B332C;
    color: white;
    width: 22%;
    height: 20%;
    grid-column: 3/4;
    grid-row: 3;
}

/*<------------------textarea------------->*/

textarea{
    border: 2px solid #256993;
}
