/*<------------------body------------->*/
body{
    display:grid;
    grid-template-rows: 0.5fr 0.5fr 3fr 0.5fr;
    grid-template-columns: 20% 80%;
    background-color: #F3E9DE;
   }


/*<------------------nav------------->*/

nav{
    text-align: end;
    background-color: #F3E9DE;
    margin: 0%;
    grid-row: 2;
    grid-column: 2/3;
}

nav h2{
    color: #256993;
    display: inline-block;
    margin: 10px;
    font-size: medium;
}



/*<------------------header------------->*/
header{
    background-color: #F3E9DE;
    text-align: center;
    grid-row: 1;
    grid-column: 2/3;
    margin: 0%;
    height: 75px;
}

header h1{
    color: #256993;
}


aside{
    grid-column: 1;
    grid-row: 1/5;
    background-color: #FAF4EC;
}

aside h2{
    color: #256993;
    text-align: center;
}

aside ul{
    color: #256993;
    text-align: center;
    list-style-type: square;
}

aside ul li{
    padding: 0%;
}


/*<------------------main------------->*/

main{
    grid-column: 2;
    grid-row: 3;
    background-color: #F3E9DE;
}

.main_container{
    display: grid;
    grid-template-columns: 1fr 1fr 0.3fr 0.3fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
}

/*<------------------textarea------------->*/

textarea{
    grid-column: 1/5;
    grid-row: 2/3;
    margin-left: 0.7rem;
    margin-right: 0.4rem;
}


/*<------------------footer------------->*/

footer{
    text-align: center;
    background-color: #F3E9DE;
    grid-column: 2;
    grid-row: 4;
}

footer h2{
    color: #256993;
}


/*<------------------buttons------------->*/

.new_note{
    border-radius: 12px;
    background-color: #256993;
    color: white;
    width: 7rem;
    height: 2rem;
    position: relative;
    top: 3rem;
    left: 0.7rem;
}

.dark_theme{
    border-radius: 12px;
    background-color: #56536A;
    color: white;
    width: 7rem;
    height: 2rem;
    grid-column: 4/5;
    grid-row: 1;
    position: relative;
    top: 50px;
    justify-self: right;
}

.save{
    border-radius: 12px;
    background-color: #256993;
    color: white;
    width: 7rem;
    height: 2rem;
    grid-column: 3;
    grid-row: 3;
    position: relative;
    top: 0.3rem;
    justify-self: right;
}

.cancel{
    border-radius: 12px;
    background-color: #9B332C;
    color: white;
    width: 7rem;
    height: 2rem;
    grid-column: 4/5;
    grid-row: 3;
    position: relative;
    top: 5px;
    justify-self: right;
}

/*<------------------textarea------------->*/

textarea{
    border: 2px solid #256993;
}


/*<------------------responsive design------------->*/

@media screen and (max-width:600px) {

    
    
}